:root{
    --primary-color-one:#e2da07;
    --primary-color-two:#0b2945;
    --img-box-shadow-one: -5px -5px 0px 5px var(--primary-color-two), 5px 5px 0px 5px var(--primary-color-one) ;
    --img-box-shadow-two: -5px -5px 0px 5px var(--primary-color-one), 5px 5px 0px 5px var(--primary-color-two) ;

}
.nav-highlight:hover{
    
    border-bottom: 2px solid var(--primary-color-two);
}

.page{
    height: 90vh;
}
.postImg{
  box-shadow: var(--img-box-shadow-one);
}

.postImg:hover{
  box-shadow: var(--img-box-shadow-two);
}

.imgBorder{
    box-shadow: var(--img-box-shadow-one);
}

.imgBorder:hover{
    transition: 0.5s;
    box-shadow: var(--img-box-shadow-two);
}

.pointer{
    cursor: pointer;
}

/* Text Animation */

.animate-character
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    var(--primary-color-two) 0%,
    var(--primary-color-two) 29%,
    var(--primary-color-one) 67%,
    var(--primary-color-one) 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  /* text-fill-color: transparent; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
 
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.footer{
    height: fit-content;
}

tr:nth-child(even){
  color: white;
  background-color: var(--primary-color-one);
}

tr:hover{
  cursor: pointer;
  transition: 0.5s;
  transform: scale(1.05);
}

.generalBtn{
  border-radius: 0px;
  border-top: 2px solid var(--primary-color-two);
  border-left: 2px solid var(--primary-color-two);
  border-bottom: 2px solid var(--primary-color-one);
  border-right: 2px solid var(--primary-color-one);
}

.generalBtn:hover{
  transition: 0.5s;
  border-radius: 0px;
  border-top: 2px solid var(--primary-color-one);
  border-left: 2px solid var(--primary-color-one);
  border-bottom: 2px solid var(--primary-color-two);
  border-right: 2px solid var(--primary-color-two);
}

.img-hover-zoom {
  height: 300px; 
  overflow: hidden; 
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
  transition: transform .5s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
  transform: scale(1.5);
}